<div class="container-fluid mainIndex">
	<div class="row">
		<div class="col-12 mx-auto">
			<% @tomb.each do |business| %>
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title"><%= business.title %></h5>
			    <h6 class="card-subtitle mb-2 text-muted"><%= business.price %></h6>
			    <p class="card-text"><%= business.notes %></p>
			    <a href="#" class="card-link">Card link</a>
			    <a href="#" class="card-link">Another link</a>
			  </div>
			</div>
			<% end %>

		</div>
	</div>
</div>
