<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6 mx-auto cuadro pt-3">
			<h1>Cont치ctanos!</h1>
			<p>Si requieres m치s informaci칩n, ll치manos. Estaremos atentos a ayudarte.</p>
			<div class="alert alert-warning text-center" role="alert">
			  <h1><a id="callnow" href="tel:3002477348">300 247 7348</a></h1>
			</div>
		</div>
	</div>
</div>
