<div class="container">
	<div class="row">
		<div class="col-12 col-lg-8 mx-auto cuadro pt-3">
			<div>
				<h1>Ayuda</h1>
				<br>
				<p>Para Registrarse</p>
				<ul class="list">
					<li>Si quieres, déjanos tu información de contacto como nombre y teléfonos</li>
					<li>Es necesario un correo que tu controles o puedas consultar de modo que puedas recuperar la clave en cualquier momento</li>
					<li>Especifica una contraseña segura, la información que estas manejando es de carácter sensible</li>
					<li>Verifica la contraseña</li>
				</ul>
				<br>
				<p>Para Ingresar</p>
				<ul class="list">
					<li>Escribe el correo electrónico que usaste en el momento del registro</li>
					<li>Escribe la clave y toca/haz clic en Ingresar</li>
					<li>Recuérdame: Puedes pedire a tu pc/celular que recuerde tus credenciales de ingreso para que no tengas que registrarte cada vez que ingreses en la App</li>
				</ul>
				<br>
				<p>Para publicar un inmueble funenrario</p>
				<ul class="list">
					<li>Escribe un texto promocional llamativo, que invite a mirar el inmueble</li>
					<li>Especifica un precio, pero es importante que convengas con Bosques del Recuerdo el valor a publicar.</li>
					<li>Describe de manera breve el entorno y si esta cerca de un punto de referencia dentro del sitio donde se encuentra</li>
					<li>Guarda el registro para que puedas proceder a montar fotos de referencia</li>
					<li>Fotos: Carga hasta 3 fotos. Para esto te recomendamos una foto cercana del inmueble, otra foto un poco más de lejos y, finalmente, una foto de la placa del sitio donde se encuentra</li>
				</ul>
			</div>			
		</div>
	</div>
</div>
