<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6 mx-auto cuadro pt-3">
			<div>
				<h1>Servicios</h1>
				<p>Rituales</p>
				<li><a href="contact" role="button">Rituales Ecológicos</a></li>
				<li><a href="contact" role="button">Servicios Exequiales</a></li>
				<p>Comercialización de inmuebles funerarios</p>
				<ul class="list">
					<li><a href="/tombs" role="button">Lotes</a></li>
					<li><a href="/tombs" role="button">Bóvedas</a></li>
					<li><a href="/tombs" role="button">Osarios</a></li>
					<li><a href="/tombs" role="button">Cenizarios</a></li>
				</ul>
				<p>Comercialización de accesorios funerarios</p>
				<ul class="list">
					<li><a href="contact" role="button">Urnas tradicionales</a></li>
					<li><a href="contact" role="button">Urnas Biodegradables</a></li>
					<li><a href="contact" role="button">Iluminación</a></li>
					<li><a href="contact" role="button">Flores</a></li>
				</ul>

				<a class="btn btn-warning mr-3 mb-3 btn-lg btn-block" href="/users/sign_up" role="button">Regístrate</a>
			</div>			
		</div>
		<div class="col-12 col-lg-6 mx-auto cuadro pt-3">
			<div>
				<h1>Gestiones legales</h1>
				<p>Documentos</p>
				<ul class="list">
					<li><a href="contact" role="button">Docuemento de Compra-Venta</a></li>
					<li><a href="contact" role="button">Certificados de libertad</a></li>
					<li><a href="contact" role="button">Paz y Salvos</a></li>
					<li><a href="contact" role="button">Autenticación</a></li>
				</ul>
				<a class="btn btn-warning mr-3 mb-3 btn-lg btn-block d-lg-none" href="contact" role="button">Contáctanos!</a>
			</div>			
		</div>
	</div>
</div>
