<div class="container">
	<div class="row">
		<div class="col-12 col-lg-6 mx-auto cuadro pt-3">
			<div>
				<h1>Servicios</h1>
				<p>Comercialización de inmuebles funerarios</p>
				<ul class="list">
					<li>Lotes</li>
					<li>Bóvedas</li>
					<li>Osarios</li>
					<li>Cenizarios</li>
				</ul>
				<p>Comercialización de accesorios funerarios</p>
				<ul class="list">
					<li>Urnas</li>
					<li>Iluminación</li>
					<li>Flores</li>
				</ul>


			</div>			
		</div>
		<div class="col-12 col-lg-6 mx-auto cuadro pt-3">
			<div>
				<h1>Gestiones legales</h1>
				<p>Documentos</p>
				<ul class="list">
					<li>Docuemento de Compra-Venta</li>
					<li>Certificados de libertad</li>
					<li>Paz y Salvos</li>
					<li>Autenticación</li>
				</ul>
			</div>			
		</div>
	</div>
</div>
