<div class="container">
	<div class="row">
		<div class="col-12 col-lg-8 mx-auto cuadro">
			<h1>Catalina Álvarez Ruíz</h1>
			<br>
			<p>Fundadora de Bosques del Recuerdo</p>
			<br>
			<p>Tengo un gran sentido de responsabilidad con alta vocación de servicio y entrega</p>
			<br>
			<h1>Estudios</h1>
			<br>
			<p>Licenciatura en Ciencias Religiosas</p>
			<ul class="list">
				<li>Angelicum Santo Tomas de Aquino</li>
				<li>4 semestres, Roma 2009,-2010</li>

			</ul>
			<p>Licenciatura en Ciencias Religiosas</p>
			<ul class="list">
				<li>Universidad Pontificia Bolivariana</li>
				<li>4 semestres, Medellín 2012, 2013</li>
			</ul>
		</div>
	</div>
</div>
