<h1>Clientes potenciales</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Tel</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, tomb_path(customer.tomb.id) %></td>
        <td><%= customer.email %></td>
        <td><%= customer.tel %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>