<div class="containter-fluid productIndex">
  <div class="row">
    <div class="col-12 col-lg-6 mx-auto">
      <div class="alert alert-success" role="alert">
        <h1>Vendedores pendientes</h1>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Email</th>
              <th>Tel</th>
              <th>Cel</th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.name, user_path(user) %></td>
              <td><%= user.email %></td>
              <td><%= user.cel %></td>
              <td><%= user.tel %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>