/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

th {
	color: white;
}

div.alert > th {
	color: black;
}

div > a.btn {
	font-size: 40px;

	@media (min-width: 1080px) {
		font-size: 20px;
	}
}

div.cuadro > a {
	font-size: 40px;
}

div.cuadro > h1 {
	color: #ffc107;
}

div.cuadro > h3 {
	color: #ffc107;
}

.cuadro {
 	color: white;
 	background-color: rgba(0,0,0,0.7);

 	h1 {
 		font-size: 80px;
 	}

 	p {
 		font-size: 40px;
 	}

 	li {
 		font-size: 40px;
 	}

 	@media (min-width: 1080px) {
 		color: white;
 		background-color: rgba(0,0,0,0.7);

 		h1 {
 			font-size: 40px;
 		}

 		p {
 			font-size: 20px;
 		}

 		li {
 			font-size: 20px;
 		}
 	}
 }

#fondo {
	background-image: url(<%= asset_path 'forest2.JPG' %>);
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;

	@media (min-width: 1080px) {
		/*background-image: url(https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);*/
		background-image: url(<%= asset_path 'forest2.JPG' %>);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
	}
}

a {
	color: #ffc107;

}

 li > a.nav-link {
 	font-size: 40px;
 	@media (min-width: 1080px) {
 		font-size: 16px;
 	}
 }

 h1 {
 	@media (min-width: 1080px) {
 		/*text-align: center;*/
 		font-size: 30px;
 	}
 }

 h1.card-title {
 	font-size: 60px;
 	@media (min-width: 1080px) {
 		font-size: 20px;
 	}
 }

 h1.card-title > a {
 	font-size: 60px;
 	@media (min-width: 1080px) {
 		font-size: 20px;
 	}
 }

 h2#search-help {
 	@media (min-width: 1080px) {
 		font-size: 20px;
 	}
 }

/* div.card {
 	width: 55rem;
 	@media (min-width: 1080px) {
 		width: 25rem;
 	}
 }*/

 div.card-body {
 	h5 {
 		font-size: 80px;
 		@media (min-width: 1080px) {
 			font-size: 30px;
 		}
 	}

 	p {
 		font-size: 40px;
 		@media (min-width: 1080px) {
 			font-size: 20px;
 		}
 	}
 }

 div.alert {
 	font-size: 60px;
 	@media (min-width: 1080px) {
 		font-size: 20px;
 	}
 	h1 {
 		font-size: 60px;
 		@media (min-width: 1080px) {
 			font-size: 20px;
 		}
 	}
 }

 a.navbar-brand {
 	@media (min-width: 1080px) {
 		font-size: 25px;
 	}
 }

.navbar-nav > li > a.avatar {
  padding-top: 7px;
  padding-bottom: 7px;
  img { width: 37px; }
}


a.dropdown-item {
	font-size: 60px;
	background: #E0B000;
	@media (min-width: 1080px) {
		font-size: 20px;
	}
}

table {
	font-size: 30px;
}

#search {
	font-size: 40px;
	@media (min-width: 1080px) {
		font-size: 20px;
	}
}

#callnow {
	font-size: 80px;
	@media (min-width: 1080px) {
		font-size: 40px;
	}
}

#user_email {
	font-size: 60px;
}

.img-circle {
	width: 120px;
	
	border-radius: 50%;

	@media (min-width: 1080px) {
		font-size: 16px;
		width: 40px;
		border-radius: 50%;
	}
}

.topbar {
	font-size: 60px;
	@media (min-width: 1080px) {
		font-size: 16px;
	}
}

.mainIndex {
	@media (min-width: 1080px) {
		font-size: 16px;
	}
}

.entityIndex {
	font-size: 30px;
	@media (min-width: 1080px) {
		font-size: 16px;
	}
}

.customerIndex {
	font-size: 40px;
	@media (min-width: 1080px) {
		font-size: 16px;
	}
}

.productIndex {
	font-size: 40px;
	a {
		font-size: 50px;
	}

	input {
		font-size: 50px;
	}

	select {
		font-size: 50px;
	}

	textarea {
		font-size: 50px;
	}

	@media (min-width: 1080px) {
		font-size: 20px;
		a {
			font-size: 20px;
		}

		input {
			font-size: 20px;
		}

		select {
			font-size: 20px;
		}

		textarea {
			font-size: 20px;
		}
	}

	.picManager {
		a {
			font-size: 16px;
		}
	}
	@media (min-width: 1080px) {
		font-size: 16px;
		a {
			font-size: 16px;
		}
		input {
			font-size: 16px;
		}

		select {
			font-size: 16px;
		}

		textarea {
			font-size: 16px;
		}
	}

}

#picture_image {
	font-size: 30px;
}