<p>Hola <%= @resource.email %>!</p>

<p>Tu contraseña ha sido bloqueada debido a demasiados intentos fallidos por ingresar.</p>

<p>Haz clic en el siguiente hipervínculo para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
