<div class="containter-fluid productIndex">
  <div class="row">
    <div class="col-12 col-lg-6 mx-auto">
      <div class="actions">
        <%= link_to 'Nuevo producto', new_product_path, class: "btn btn-primary btn-lg btn-block" %>
      </div>
      <table class="table mx auto">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><span class="badge badge-primary badge-pill"><%= Tomb.where('category like ?', product.name).count %> </span></td>
            <td><%= link_to 'Detalles', product %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div> 
</div>
